# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio artefacts
.vs
.vscode
*.sln
*.vcxproj
*.filters
*.user

# CLion artefacts
/.idea

# Build artefacts
build/
out/
/cmake-build-debug/
/cmake-build-debug-gl/
/bin/
*.spv

# Imgui configurations
imgui.ini