[submodule "Vertex/deps/spdlog"]
	path = Vertex/deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vertex/deps/imgui"]
	path = Vertex/deps/imgui
	url = https://github.com/VertexEngine/imgui
[submodule "Vertex/deps/glm"]
	path = Vertex/deps/glm
	url = https://github.com/g-truc/glm
