name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install libglfw3 libglfw3-dev

      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: build-opengl
        run: cd scripts && bash build.sh